<div class="overlay" id="overlay">
  <div class="modal">
    <h2 id="heaInputForm">Saisie manuelle</h2>
    <form id="dataForm" method="post" action="/add">
      <label
        >Nom
        <input type="text" name="name" id="txtName" />
      </label>
      <label
        >Description
        <textarea name="description" id="txtDescription"></textarea>
      </label>
      <label
        >Date
        <input type="datetime-local" name="date" id="datDate" />
      </label>
      <label
        >Durée (minutes)
        <input type="number" name="duration" id="numDuration" />
      </label>
      <label
        >Statut
        <select name="status" id="dpdStatus">
          <option selected>Done</option>
          <option>WIP</option>
        </select>
      </label>
      <div class="actions">
        <button type="button" id="closeBtn">Annuler</button>
        <button type="submit" id="saveBtn">Enregistrer</button>
      </div>
      <input type="hidden" id="exceptionId" name="exceptionId" />
      <input type="hidden" id="hidSHA" name="sha" />
      <input type="hidden" id="url" name="url" />
      <input type="hidden" id="author" name="author" />
    </form>
  </div>
</div>
